{% extends "web/base.html" %}
{% load static %}
{% block content %}


    <!-- main-area -->
    <main class="main-area fix">




        <!-- slider-area -->
        <section class="slider__area-two">
            <div class="swiper slider-active-two">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slider__bg-two" data-background="{% static 'web/img/slider/h3_slider_bg01.jpg' %}">
                        <div class="container">
                            <div class="row justify-content-end">
                                <div class="col-xl-7 col-lg-7">
                                    <div class="slider__content-two">
                                        <span class="sub-title">Setting the Standard for Professionalism and Protection</span>
                                        <h2 class="title">Experience Excellence in Uniforms & Safety Gear</h2>
                                        <div class="slider__btn">
                                            <a href="{% url 'web:products' %}" class="btn btn-two">View Our Products <img src="assets/img/icons/right_arrow.svg" alt=""  class="injectable"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider__shape" data-background="{% static 'web/img/slider/slider_shape.png' %}"></div>
                    </div>
                    <!-- <div class="swiper-slide slider__bg-two" data-background="assets/img/slider/h3_slider_bg02.jpg">
                        <div class="container">
                            <div class="row justify-content-end">
                                <div class="col-xl-7 col-lg-7">
                                    <div class="slider__content-two">
                                        <span class="sub-title">We’re working since 1985 in this field</span>
                                        <h2 class="title">World’s Most leading building provider</h2>
                                        <div class="slider__btn">
                                            <a href="services.html" class="btn btn-two">View Our Services <img src="assets/img/icons/right_arrow.svg" alt=""  class="injectable"></a>
                                            <a href="http://www.youtube.com/watch?v=1iIZeIy7TqM" class="btn popup-video">Watch Our Story <i class=" renova-play"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider__shape" data-background="assets/img/slider/slider_shape.png"></div>
                    </div>
                    <div class="swiper-slide slider__bg-two" data-background="assets/img/slider/h3_slider_bg03.jpg">
                        <div class="container">
                            <div class="row justify-content-end">
                                <div class="col-xl-7 col-lg-7">
                                    <div class="slider__content-two">
                                        <span class="sub-title">We’re working since 1985 in this field</span>
                                        <h2 class="title">World’s Most leading building provider</h2>
                                        <div class="slider__btn">
                                            <a href="services.html" class="btn btn-two">View Our Services <img src="assets/img/icons/right_arrow.svg" alt=""  class="injectable"></a>
                                            <a href="http://www.youtube.com/watch?v=1iIZeIy7TqM" class="btn popup-video">Watch Our Story <i class=" renova-play"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider__shape" data-background="assets/img/slider/slider_shape.png"></div>
                    </div>
                    <div class="swiper-slide slider__bg-two" data-background="assets/img/slider/h3_slider_bg04.jpg">
                        <div class="container">
                            <div class="row justify-content-end">
                                <div class="col-xl-7 col-lg-7">
                                    <div class="slider__content-two">
                                        <span class="sub-title">We’re working since 1985 in this field</span>
                                        <h2 class="title">World’s Most leading building provider</h2>
                                        <div class="slider__btn">
                                            <a href="services.html" class="btn btn-two">View Our Services <img src="assets/img/icons/right_arrow.svg" alt=""  class="injectable"></a>
                                            <a href="http://www.youtube.com/watch?v=1iIZeIy7TqM" class="btn popup-video">Watch Our Story <i class=" renova-play"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider__shape" data-background="assets/img/slider/slider_shape.png"></div>
                    </div> -->
                </div>
                <!-- <div class="slider__nav">
                    <button class="slider-button-prev"><img src="assets/img/icons/long_left_arrow.svg" alt="" class="injectable"></button>
                    <button class="slider-button-next"><img src="assets/img/icons/long_right_arrow.svg" alt="" class="injectable"></button>
                </div> -->
            </div>
        </section>
        <!-- slider-area-end -->

       <!-- features-area -->
       <section class="features__area section-pt-120 section-pb-90">
            <div class="container">
                <div class="row justify-content-center gutter-24">
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="features__item">
                            <div class="features__icon">
                                <i class="renova-rocket"></i>
                            </div>
                            <div class="features__content">
                                <h3 class="title">Mission</h3>
                                <p>Fashion Center is committed to providing top-quality uniforms and safety products that enhance professionalism and ensure safety, while fostering long-lasting partnerships through exceptional service and reliability.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="features__item">
                            <div class="features__icon">
                                <i class="renova-flag"></i>
                            </div>
                            <div class="features__content">
                                <h3 class="title">Vision</h3>
                                <p>Fashion Center envisions being the foremost destination for superior uniforms and safety gear, recognized for innovation, integrity, and dedication to exceeding customer expectations, setting new standards in the industry.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                        <div class="features__item">
                            <div class="features__icon">
                                <i class="renova-book"></i>
                            </div>
                            <div class="features__content">
                                <h3 class="title">Value</h3>
                                <p>At Fashion Center, we prioritize integrity, innovation, and customer-centricity, embodying these core values in every interaction, product, and service we offer, fostering trust, excellence, and lasting partnerships.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </section>
       <!-- features-area-end -->

       <!-- about-area -->
       <section class="about__area section-pb-120">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 col-md-9">
                        <div class="about__img-wrap wow img-custom-anim-left animated"  data-wow-duration="1.5s" data-wow-delay="0.1s">
                            <img src="{% static 'web/img/images/about_img.jpg' %}" alt="img">
                            <div class="about__img-content">
                                <h4 class="title">We’re ready to help</h4>
                                <a href="{% url 'web:contact' %}" class="btn">Contact Us <i class="renova-right-arrow"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about__content">
                            <div class="section__title mb-20">
                                <h2 class="title">Elevate Your Standards with Fashion Center</h2>
                            </div>
                            <p>At Fashion Center, we take pride in offering top-quality uniforms and safety products to businesses across Qatar. With a commitment to excellence and reliability, we aim to exceed your expectations with our extensive range of products and exceptional service. Explore our offerings and experience the difference with Fashion Center today.</p>
                            <div class="about__list-box-wrap">
                                <div class="about__list-box" data-aos="fade-up" data-aos-delay="400">
                                    <div class="icon">
                                        <i class="renova-user-rating"></i>
                                    </div>
                                    <div class="content">
                                        <h4 class="title">Unmatched Quality & Selection</h4>
                                        <p>Discover a diverse selection of uniforms and safety gear, rigorously tested for superior performance and durability. We cater to various industries, ensuring you find the perfect fit for your needs.</p>
                                    </div>
                                </div>
                                <div class="about__list-box" data-aos="fade-up" data-aos-delay="600">
                                    <div class="icon">
                                        <i class="renova-brick"></i>
                                    </div>
                                    <div class="content">
                                        <h4 class="title">Experience & Customer Focus</h4>
                                        <p>Benefit from our years of industry expertise and commitment to exceptional service. Our dedicated team is here to guide you and exceed your expectations, from initial inquiry to after-sales support.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </section>
       <!-- about-area-end -->

       <!-- counter-area -->
       <section class="counter__area">
            <div class="container">
                <div class="counter__item-wrap">
                    <div class="row">
                        <div class="col-6 col-lg-3 col-sm-6">
                            <div class="counter__item">
                                <div class="counter__icon">
                                    <i class="renova-happy"></i>
                                </div>
                                <div class="counter__content">
                                    <h3 class="count"><span class="odometer" data-count="3658"></span>+</h3>
                                    <p>Satisfied Customers</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 col-sm-6">
                            <div class="counter__item">
                                <div class="counter__icon">
                                    <i class="renova-brick"></i>
                                </div>
                                <div class="counter__content">
                                    <h3 class="count"><span class="odometer" data-count="658"></span>+</h3>
                                    <p>Modern Equipment</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 col-sm-6">
                            <div class="counter__item">
                                <div class="counter__icon">
                                    <i class=" renova-user-rating-2"></i>
                                </div>
                                <div class="counter__content">
                                    <h3 class="count"><span class="odometer" data-count="1500"></span>+</h3>
                                    <p>Expert Members</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 col-sm-6">
                            <div class="counter__item">
                                <div class="counter__icon">
                                    <i class="renova-badge"></i>
                                </div>
                                <div class="counter__content">
                                    <h3 class="count"><span class="odometer" data-count="153"></span>+</h3>
                                    <p>Tons Of Harvest</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </section>
       <!-- counter-area-end -->


        <!-- faq-area -->
        <section class="faq__area section-py-120">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7">
                        <div class="section__title mb-70 pt-0">
                            <h2 class="title">Frequently Asked Questions</h2>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 col-md-10">
                        <div class="faq__img wow img-custom-anim-left animated"  data-wow-duration="1.5s" data-wow-delay="0.1s">
                            <img src="{% static 'web/img/images/faq_img.jpg' %}" alt="img">
                            <div class="faq__img-content">
                                <h5 class="title">Answers to Common Queries About Fashion Center</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="faq__wrap">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            What industries do your uniforms cater to?
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Our uniforms are designed for a wide range of industries, including hospitality, healthcare, corporate, and more. We offer a diverse selection to suit the specific needs of each profession.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Can I get custom uniforms made?
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Yes, we offer customization options for uniforms to ensure a perfect fit and brand representation for your company. Contact us to discuss your specific requirements.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            What safety products do you offer?
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>We carry a comprehensive range of safety products, including gloves, safety jackets, hand protection gear, body protection equipment, and more. All our products meet the highest standards of quality and durability.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Are SSK Trading W.I.I.'s products approved by regulatory bodies?
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Yes, the products supplied by SSK Trading W.I.I. are approved by most renowned consultants working in Qatar.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            What is the capacity of SSK Trading W.I.I.'s warehouse?
                                        </button>
                                    </h2>
                                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>SSK Trading W.I.I. maintains a 2000 square meters warehouse, ensuring the ideal stock of goods for continuous supply.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- faq-area-end -->

        <!-- cta-area -->
        <section class="cta__area cta__area-two fix">
            <div class="cta__bg" data-background="{% static 'web/img/bg/cta_bg.jpg' %}"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="cta__content-two">
                            <h2 class="title">Explore Our Premium Selection of Construction Materials</h2>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="cta__btn">
                            <a href="{% url 'web:products' %}" class="btn btn-two">View Our Products <img src="{% static 'web/img/icons/right_arrow.svg' %}" alt="" class="injectable"></a>
                            <a href="{% url 'web:contact' %}" class="btn transparent-btn popup-video">Contact Us <img src="{% static 'web/img/icons/right_arrow.svg' %}" alt="" class="injectable"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cta__shape">
                <img src="{% static 'web/img/images/cta_shape.png' %}" alt="shape" data-aos="fade-down-left" data-aos-delay="400">
            </div>
        </section>
        <!-- cta-area-end -->

        <!-- blog-post-area -->
        <section class="blog__post-area section-pt-90 section-pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-8">
                        <div class="section__title mb-70">
                            <h2 class="title">Our Latest Updates</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center gutter-24">
                    {% for item in updates %}
                    <div class="col-lg-4 col-md-6">
                        <div class="blog__post-item shine__animate-item">
                            <div class="blog__post-thumb">
                                <a href="{{item.get_absolute_url}}" class="shine__animate-link">
                                    <img src="{{item.image.url}}" alt="img">
                                </a>
                            </div>
                            <div class="blog__post-content">
                                <div class="blog__post-meta">
                                    <ul class="list-wrap">
                                       
                                        <li>{{item.date}}</li>
                                    </ul>
                                </div>
                                <h4 class="title"><a href="{{item.get_absolute_url}}">{{item.title}}</a></h4>
                                <a href="{{item.get_absolute_url}}" class="btn">Read Details</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                    </div>
                </div>
            </div>
        </section>
        <!-- blog-post-area-end -->

        <!-- brand-area -->
        <div class="brand__area section-pb-120">
            <div class="container">
                <div class="swiper brand-active">
                    <div class="swiper-wrapper">
                        {% for item in clients %}
                        <div class="swiper-slide">
                            <div class="brand__item">
                                <img src="{{item.image.url}}" alt="img">
                            </div>
                        </div>
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- brand-area-end -->


    </main>
    <!-- main-area-end -->
    {% endblock  %}
