{% extends "web/base.html" %}
{% load static %}
{% block content %}




    <!-- main-area -->
    <main class="main-area fix">

       
        <!-- blog-post-area -->
        <section class="blog__post-area-two section-pt-120 section-pb-90">
            <div class="container">
                <div class="row justify-content-center gutter-24">
                    {% for item in object_list %}
                    <div class="col-lg-4 col-md-6">
                        <div class="blog__post-item shine__animate-item">
                            <div class="blog__post-thumb">
                                <a href="{{item.get_absolute_url}}" class="shine__animate-link">
                                    <img src="{{item.image.url}}" alt="img">
                                </a>
                            </div>
                            <div class="blog__post-content">
                                <div class="blog__post-meta">
                                    <ul class="list-wrap">
                                       
                                        <li>{{item.date}}</li>
                                    </ul>
                                </div>
                                <h4 class="title"><a href="{{item.get_absolute_url}}">{{item.title}}</a></h4>
                                <a href="{{item.get_absolute_url}}" class="btn">Read Details</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                   
                </div>
            </div>
        </section>
        <!-- blog-post-area-end -->

    

    </main>
    <!-- main-area-end -->

{% endblock %}